.logo {
  width: 200px;
  height: 60px;
}
@media screen and (max-width: 991px) {
  .logo {
    width: 100px;
  }
}

.logo2 {
  width: 100px;
}
.buy-now-button {
  background-color: #a2c11c;
  border-radius: 6px;
  border-width: 0;
  height: 40px;
  width: 100px;
}
@media screen and (max-width: 991px) {
  .buy-now-button {
    width: 60px;
    font-size: 12px;
    height: 30px;
  }
}

.options-container {
  margin-left: 20px;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.option {
  margin-right: 10px;
  font-size: 14px;
  text-align: center;
}
.icon-options-container {
  display: flex;
  width: 20%;
  max-width: 100px;
  justify-content: space-between;
}
.toggle-menu-button {
  background-color: transparent;
  border: none;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
.menu-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

@media screen and (max-width: 991px) {
  .icon-options-container {
    display: none;
  }
  .options-container {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .toggle-menu-button {
    display: none;
  }
  .menu-options {
    display: none;
  }
  .options-container {
    display: flex;
  }
}
